# Created by .ignore support plugin (hsz.mobi)
.idea
.gradle
build/android-profile/profile-2017-11-19-17-11-50-797.rawproto
build/android-profile/profile-2017-11-19-17-12-02-498.rawproto
build/android-profile/profile-2017-11-19-17-18-51-499.rawproto
build/android-profile/profile-2017-11-19-17-29-33-549.rawproto
build
